export ADMIN_CAP_ID="0x6f76bf75cf1d29b7ff5f9a7379c5d49ff8a2dac0941a19742e35619fae7e9785"
export ADMIN_PHRASE="silk garlic field nothing salad weather bronze slam awkward shed domain near"
export PACKAGE_ID="0xc38367d1c7d4624c1eba9666c7e6a65c2efd8d60d4a9cf0ac171e65e9e15ac50"
export PUBLISHER_ID="0xd914e0679d3c2f7129e4c383761a6908b7be82e6eb916f601cc67c17e88fb975"
export SUI_NETWORK="http://127.0.0.1:9000"
export USER1_PHRASE="habit dune over sense muffin boss imitate milk verify payment width two"
export USER2_PHRASE="cage infant dolphin sponsor check blast glare water disorder harbor artefact height"
export USER3_PHRASE="smooth ride route dust enable trade vibrant smart stone report energy fancy"
export ADMIN_CAP_ID="0x00b5702a9574e204b5a71f51bb83afae8bdfe478004b0df0e5ce84c0b7461e55"
export ADMIN_PHRASE="foam add couple already resource rapid evolve vanish they fancy wise poverty"
export PACKAGE_ID="0xe39094b467ab2b743143d8e0a16858223873e16a8721287980f1e0c99e35804e"
export PUBLISHER_ID="0x41033a7c0ea678ef152270716fc7c6cb97f13fe54a28df74afe888874dd371ea"
export SUI_NETWORK="http://127.0.0.1:9000"
export USER1_PHRASE="upon net jaguar play muffin atom finish kingdom water loop inflict fortune"
export USER2_PHRASE="govern muscle boy usage company execute flip arctic swarm sudden alien waste"
export USER3_PHRASE="detail wink fiction spoil vault any wolf rate cube plug note position"
