# IMPORTANT!! Keep these in sync with Move.toml
export SUI_NETWORK="devnet"
export SUI_VERSION="1.16.0"
# Sometimes the Sui team doesn't tag their releases consistently
# Check git tags on https://github.com/MystenLabs/sui to find the appropriate rev (tag)
export SUI_GIT_TAG="test-v1.16.0"

source_env '.sui.env'